.item {
  margin: 10px;
  padding: 20px;
  font-size: 14px;
  background: whitesmoke;
}

label {
  text-transform: capitalize;
  font-weight: 600;
  padding: 5px;
  display: grid;
  grid-template-columns: 150px calc(100% - 170px);

  &.italic {
    font-style: italic;
    color: rgba(0, 0, 0, 0.7);
  }
}

.contact-control {
  margin: 20px 10px 0 0;
}

.postcode-error {
  color: red;
}
